$primaryTextBlue: dodgerblue;
$secondaryTextGray: #73998d;
$borderGray: #30363d;
$textGray:#666;

$brightRed:#ff4444;
$btnGreen: #4ec656;
$btnYellow:#daa520;


$hoverBgGray: #66666694;
$alertBgBlack: #ff000017;

$radius15: 15px;
$padding-small: 10px;