form {
  // border: 1px solid #30363d;
  border-radius: 15px;
  padding: 1em;
  margin:0;
  color: #666;
  height: 100%;

  .col-2-wrapper{
    display: flex;
    width: 100%;
    gap: 1em;
    // background-color: #30363d;
    height: 80%;
    position: relative;

    .right{
      width: 15%;
    }
    
    .left{
      width: 85%;
    }
  }

  .article-input-unit {
    margin-bottom:0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;

    p{
      margin: 0;
      text-align: left;
    }

    label{
      text-align: left;
    }

    .code{
      padding-right: 2em;
    }
    .code-close-btn{
      font-size: 1.3rem;
      position: absolute;
      right: 15px;
      top: 50px;
      cursor: pointer;
    }

    input,
    textarea {
      border: 1px solid #30363d;
      font-size: 1rem;
      padding: 0.8em 1em;
      border-radius: 15px;
      background-color: #000;
      color: #666;

      &:focus {
        border: 1px solid #4e7ec6;
        outline: 0;
      }
    }
    button {
      background-color: #3a8a3f;
      color: #fff;
      border: 0;
      border-radius: 5px;
      padding: 0.5em 2em;
      font-size: 1rem;
      transition: 300ms;
      white-space: nowrap;
      align-self: center;

      &:hover {
        background-color: #4ec656;
        cursor: pointer;
      }
    }
  }

  .actions{
    align-content: flex-end;
    flex-wrap: wrap;
  }

  .article99{
    height: 100% !important;


    .text-editor{
      height: 100% !important;
      .quill {
        height: 90% !important;
      }
    } 
  }
  .dynamic-input-control-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    gap: 0.5em;
    width: 100%;

    .action-btn {
        cursor: pointer;
        color: #4ec656;
        font-size: 1.1rem;
        align-self: flex-end;
      }
  }
}
