@import 'variables';

.cheat-item {
  border: 1px solid $borderGray;
  border-radius: $radius15;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
  position: relative;

  .cheat-tags{
    display: flex;

    ul{
      margin: 0;padding: 0;
      display: flex;
    flex-wrap: wrap;
    gap: 5px;
    }
  }
  .more-options{
    position: absolute;
    top: 15px;
    right: 25px;      
    color: $secondaryTextGray;
    font-size: 1.4rem;
    margin: 0;
    padding: 5px;
    border-radius: 100%;
    display: flex;
    
    &:hover{
      color: white;
      cursor: pointer;
      background-color: $hoverBgGray;
    }
  }
  .cheat-title {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    text-align: left;
    color: $primaryTextBlue;
  }

  .cheat-text {
    margin-bottom: 0.5em;
    font-size: 1rem;
    color: $textGray;

    text-align: left;
    overflow-wrap: anywhere;

    strong{
      color: $secondaryTextGray;
    }
  }
  
  .cheat-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .edit-btn {
      cursor: pointer;
      color: $btnGreen;
      font-size: 1.5rem;
    }
    .delete-btn {
      cursor: pointer;
      color: $brightRed;
      font-size: 1.5rem;
    }
  }
}
