.item-info{
    color: white;
    display: flex;
    align-items: center;
    gap: .5em;

    .img-container{
        img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }

    .info-container{
        p{
            font-size: 12px;
            color: #666;
            text-align: left;
            margin: 0;
        }

        .date{
            font-size: 10px;
        }
    }
}