.navbar-prime{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    border-bottom: 1px solid #30363d;
    color: white;
    padding: 0 40px;
    position: fixed;
    left: 0;
    z-index: 99;

    .brand-logo{
        font-size: 2.5rem;
    }

    .left, .right{
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .project-selector {
        font-size: 1rem;
        border: 1px solid #30363d;
        padding: 0.5em 1em;
        border-radius: 5px;
        cursor: pointer;
        border-radius: 5px;
      }
}