.sidebar {
  background-color: #0d1017;
  border: 1px solid #30363d;
  border-top: none;
  border-left: none;
  // border-radius:0 15px 15px 0;
  padding: 1em;
  // margin-bottom: 1em;
  // width: 400px; // overridden by config file
  position: fixed;
  top: 90px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 9;
  // position: relative;

  .sidebar-section {
    margin-bottom: 2em;
    border-bottom: 1px solid #30363d;
    padding-bottom: 2em;
    
    h3 {
      color: #9e9e9e;
      font-size: 1rem;
      font-weight: normal;
      text-align: left;
      margin-bottom: 1em;
    }
    .sidebar-item {
      margin-bottom: 1em;
      p {
        color: #9e9e9e;
      }
    }

    .sidebar-item-list {
      display: flex;
      gap: 1em;
      align-items: flex-start;
      flex-direction: column;
      list-style: none;
      padding: 0;
      color: white;

      a{
        color: white;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &.hidden {
    display: none;
  }

  @media (max-width: 767px) {
    width: 100%;
    position: static;
    margin-bottom: 2em;
    &.hidden {
      display: none;
    }
  }
}
